@media only screen and (min-width:320px) and (max-width:700px) {
nav{
height: 54px;
width: 100%;
background: #fff;
display: flex;
align-items: center;
}
.desktop-only{
  display: none;
}
/************************
Staff Directory
************************/
section.staff-directory
{
  background-color: #f4f4f4;
  padding-top: 50px;
}
section.staff-directory ul.nav-tabs{
  padding: 10px 150px;
  padding-bottom: 0px;
  display: none;
}
section.staff-directory ul.nav.nav-tabs li a{
  font-weight: bold;
  color: #444;
}
.teachers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 150px;
}
ul li.teachers{
  padding: 30px 30px 100px 30px;
}
.teachers div.teacher{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  padding: 0px 5%;
}
div.teacher a.img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: transparent;
  background-image: url(../assets/cover_phone.jpg);
  background-size: cover;
  background-position: center;
}
div.teacher p.name{
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}
div.teacher p.subject{
  font-size: 15px;
  color: rgba(0,72,128,1);
  font-weight: bold;
}
div.teacher p.description{
  display: none;
}
div.teacher ul.social-links{
   display: none;
}
a.slider-nav{
  position: absolute;
  font-size: 30px;
  color: #444;
}
a.slider-nav.right{
  right: 20px;
  margin-top: -200px;
}
a.slider-nav.left{
  left: 20px;
  margin-top: -200px;
}
/************************
Quick Link Slider
************************/
section.quicklinks{
  background: #212121;
  background-size: cover;
  background-position: center;
  height:400px;
}
section.quicklinks div.contents{
  background: transparent;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  padding: 50px 0px;
}
div.qlinks{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div.qlinks ul{
  background: rgba(0,0,0,0);
}
div.qlinks ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 1;
  padding: 0px 40px;
  transition: opacity 0.55s;
  margin-top: 170px;
}
div.qlinks ul li img.ph{
  height: 150px;
}
div.qlinks ul li.unslider-active{
  opacity: 1;
}
div.qlinks ul li a{
  display: flex;
  height: 100px;
  width: 100px;
  position: relative;
  padding: 0px;
  border: 0px solid rgba(255,255,255,0.5);
  border-radius: 20%;
  justify-content: center;
  align-items: center;
}
div.qlinks ul li a img{
  border-radius: 20%;
  height: 100%;
  width: auto;
  opacity: 0.5;
  transition: all 0.25s;
}
div.qlinks ul li a:hover{
  border-color: #fff;
}
div.qlinks ul li a:hover img{
  width: auto;
  opacity: 1;
}
div.qlinks ul li a span{
  position: absolute;
  color: #fff;
  bottom: -40px;
  z-index: 999;
  font-size: 18px;
  opacity: 0.5;
  text-align: center;
}
div.qlinks ul li a:hover span{
  opacity: 1;
}
a.qlink-nav{
  position: absolute;
  font-size: 30px;
  color: #fff;
}
a.qlink-nav.right{
  right: 30px;
  margin-top: 140px;
}
a.qlink-nav.left{
  left: 30px;
  margin-top: 140px;
}
/*****************************
Cover
*****************************/
.cover{
   height:115vh;
   min-height: 700px;
   background: url(../assets/cover_phone.jpg);
   background-size:cover;
   background-position:center;
   display:flex;
   flex-direction:column;
   justify-content:space-between;
   position: relative;
}
.thumbnail{
  display: none;
}
.nav-wrapper{
   padding: 0px 20px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
img.navbar-logo{
   height:30px;
   width: auto;
   float: left;
}
.connect-with-us{
   display: flex;
   align-items: center;
}
.connect-with-us-text{
   display: none;
}
ul.social-links{
   list-style: none;
   display: flex;
   flex-direction: row;
   padding: 0;
   padding-left: 15px;
   margin: 0;
}
ul.social-links li{
   width: 40px;
}
ul li a.social-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   border: solid 2px;
   text-decoration: none;
   font-size: 10px;
}

/****************
Footer
****************/
section.footer{
  background: #212121;
  display: block;
  height: 510px;
  padding: 30px 60px;
  position: relative;
  padding-top: 200px;
}
.footer div h2.f-title{
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}
.footer div.location{
  width: 100%;
  display: inline-block;
  padding-top: 25px;
}
.footer div.location p.address{
   margin: 20px 0px;
   text-align: center;
}
.footer div.location p.address span{
   padding: 0;
   margin: 0;
}
.footer div.map{
  width: 100%;
  display: inline-block;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top:0px;
  left:0px;
}
.footer div.map div#map{
  position: absolute;
  height: 100%;
  width: 100%;
}
.footer>div.branding{
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  width: 100%;
  margin-top: 30px;
  position: relative;
}
div.branding>a{
  display: flex;
  justify-content: center;
}
div.branding>a>img{
  height: 40px;
  width: auto;
}
div.branding>ul{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
div.branding>ul>li>a{
  color: #fff;
  font-size: 1.5rem;
  padding: 10px;
}
.footer>div>p{
  color:#fff;
  font-size: 0.95rem;
}
.footer>div>p span{
  color:rgb(254, 182, 38);
  font-weight: bold;
  padding: 0px 5px 0px 20px;
}
section.footer div h2.f-title>i{
  padding-right: 20px;
}
/****************
Social Media
****************/
section.social-media{
  display: flex;
  flex-direction: column-reverse;
  padding: 30px 60px;
  background-color: #094A7E;
  height: 560px;
  position: relative;
  padding-top: 130px;
}
h2.sm-title{
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
}
h2.sm-title i.fa{
  margin-right: 10px;
}
section.social-media div.subscribe-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top:-80px;
  left:10%;
  width: 80%;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 10px 28.5px 1.5px rgba(0, 0, 0, 0.2);
}
div.subscribe-form h2.sm-title{
  text-align: center;
  color: #444;
  padding: 20px 0px 30px 0px;
}
div.form{
  position: relative;
}
input[type=email] {
  padding: 10px 38px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0px 10%;
  border: 0;
  width: 80%;
  left: 10%;
  border-radius: 4px;
  font-size: 13px;
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 90px;
}
input[type=email]:hover,input[type=email]:focus,input[type=submit]:hover,input[type=submit]:focus{
  outline: none;
}
input[type=submit]{
  background-color:rgb(254, 182, 38);
  padding: 13px;
  font-weight: normal;
  color:#000;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  border-radius: 0px;
  font-family: "Open Sans",sans-serif;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
}
input[type=submit]:hover{
  box-shadow: 0px 10px 28.5px 1.5px rgba(0, 0, 0, 0.2);
}
form>i{
  position: absolute;
  top:15px;
  left:14%;
}
div.recent-tweets{
  width: 100%;
  display: block;
}
.twitter-post{
  margin: 20px 0px;
}
p.author{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
p.post{
  font-size: 14px;
  font-weight: normal;
  color: rgba(255,255,255,0.8);
  margin: 0;
}
div.instagram-posts{
  width: 100%;
  display: block;
  margin-top: 20px;
}

.posts div.i-post{
  display: block;
  width: 25%;
  margin: 2% 2%;
  overflow: hidden;
  display: inline-block;
}
.posts div.i-post a{
  display: flex;
  width: 50px;
  height:50px;
  border-radius: 7px;
  background-image: url(../assets/video-ph.png);
  background-position: center;
  background-size: cover;
  color: transparent;
}
/*********Progress************************/
.progress{
   display:flex;
   background: rgba(0,72,128,0.8);
   bottom:110px;
   height: 220px;
   width:60%;
   margin:0px 20%;
   flex-direction: column-reverse;
   position: absolute;
   justify-content: center;
   align-items: center;
   overflow:hidden;
   border-radius:5px;
   border:3px solid white;
   margin-bottom:0;
   z-index:9999;
}

.progress .circular-progress{
   height: 80px;
   min-width: 80px;
   border-radius: 50%;
   margin: 10px 0px 55px 0px;
   border: 3px solid rgb(254, 182, 38);
   display: flex;
   align-items: center;
   justify-content: center;
}

.progress .circular-progress p{
   color: #fff;
   font-size: 20px;
   font-weight: bold;
}
.progress a.btn-large{
   padding: 15px 1000px;
   font-size: 10px;
   position:absolute;
   bottom:0;
}
.progress .progress-msg{
   text-transform: uppercase;
   color: #fff;
   font-weight: bold;
   font-size: 15px;
}

.subscribe{
   padding-bottom:20px;
   height: 160px;
   display: flex;
   flex-direction:column;
   background: #3b4b64;
   align-items: center;
   justify-content: flex-end;
   position: relative;
   bottom: 0px;
}
.subscribe p{
   font-weight:bold;
   color:#fff;
   font-style:italic;
   font-size:15px;
   padding: 5px;
   position: absolute;
   bottom: 70px;
}
/*****************************
About School Container
*****************************/
   .sub-container{
      padding: 20px 40px;
   }
   section.about-school{
      padding-bottom: 50px;
   }
   .about-school-container{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;
   }
   .about-school-container div.text{
      display: block;
      width: 100%;
      text-align: center;
   }
   .about-school-container div.text p{
      line-height: 1.8;
      font-size: 16px;
      font-weight: 400;
      padding:20px 0px;
      text-align:justify;
   }

   h2.section-title span.divider{
      display: none;
   }

   .about-school-container div.video{
      width: 100%;
      display: flex;
      justify-content: center;
   }

   .about-school-container div.video video,.about-school-container div.video iframe{
      width: 320px;
      height: 180px;
      background-image: url(../assets/video-ph.png);
      box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
   }

   h2.section-title{
      text-transform: uppercase;
      color: #094a7e;
      font-weight: 800;
      font-size: 25px;
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
   }
   h2.section-title i{
      margin-right: 20px;
   }
   h2.section-title span.text{
      font-weight: normal;
      color: #000;
   }

   a.btn{
      border-radius: 5px;
      background-color: rgb(254, 182, 38);
      text-transform: uppercase;
      font-weight: bold;
      color:#000;
      font-size: 20px;
      text-decoration: none;
   }

   a.btn-large{
     border-radius: 5px;
     background-color: rgb(254, 182, 38);
     padding: 12px 50px;
     white-space: nowrap;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
     font-weight: bold;
     color:#000;
     font-size: 15px;
     text-decoration: none;
   }

   section.fe-ln{
      background:#f8f8f8;
      padding: 40px;
      padding-bottom: 60px;
   }
   section.latest-news{
      margin-top:40px;
   }
   .f-event,.l-news{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px;
      background:#fff;
      border: 1px solid rgba(0,0,0,0.2);
      margin-bottom:15px;
      border-radius:4px;
   }
   .f-event .date{
      height: 30px;
      min-width: 30px;
      max-width: 30px;
      border: 1px solid #094a7e;
      color: #094a7e;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      float: left;
      position:absolute;
   }
   p.month{
      margin:0px;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
   }
   p._date{
      margin: 0px;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
   }
   .body {
      position:relative;
   }
   .f-event .body p.time-venue,.l-news .body p.time-venue{
      font-size: 15px;
      font-weight: 600;
      color: rgba(0,0,0,0.4);
      padding-top: 5px;
   }
   .f-event .body p.time-venue{
      margin-top: 20px;
   }
   h3.event-title{
      margin:0;
      font-size: 18px;
      font-weight: 600;
   }
   h3.event-title.event{
      margin:5px 0px 0px 42px;
   }
   p.description{
      margin-bottom:0px;
      margin-top: 10px;
   }
}
