body{
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: "Open Sans"
}
.loader{
   height: 100%;
   width: 100%;
   background: #fff;
   color:#00bcd4;
   position: fixed;
   z-index: 999999;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.loader p{
  font-size: 3rem;
  font-weight: 200;
}
.thumbnail{

}
nav{
   height: 70px;
   width: 100%;
   background: #fff;
   display: flex;
   align-items: center;
   box-shadow: 0px 10px 28.5px 1.5px rgba(0, 0, 0, 0.2);
}
a{
   transition: all 0.25s;
}
a.btn:hover,a.btn-large:hover{
   box-shadow: 0px 10px 28.5px 1.5px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1025px) {
  section.footer{
    background: #212121;
    display: block;
    height: 250px;
    padding: 30px 140px;
  }
  .footer div h2.f-title{
    color: #fff;
    font-size: 1.8rem;
    font-weight: normal;
  }
  .footer div.location{
    width: 30%;
    display: inline-block;
  }
  .footer div.map{
    width: 30%;
    display: inline-block;
    height: 250px;
    position: absolute;
    border-radius: 10px;
    margin-left: 2%;
    overflow: hidden;
  }
  .footer div.map div#map{
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .footer>div.branding{
    display: block;
    float: right;
    width: 20%;
    padding-top: 20px;
  }
  div.branding>a>img{
    height: 40px;
    width: auto;
    float: left;
  }
  div.branding>ul{
    float: left;
    margin-top: 50px;
    padding: 0;
  }
  div.branding>ul>li>a{
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
  }
  .footer>div>p{
    color:#fff;
    font-size: 0.95rem;
  }
  .footer>div>p span{
    color:rgb(254, 182, 38);
    font-weight: bold;
    padding: 0px 5px 0px 20px;
  }
  section.footer div h2.f-title>i{
    padding-right: 20px;
  }
  section.social-media{
    display: block;
    padding: 30px 100px;
    background-color: #094A7E;
    height:300px;
  }
  section.social-media div.subscribe-form{
    width: 35%;
    display: inline-block;
    float: left;
  }
  div.form{
    position: relative;
  }
  input[type=email] {
    width: 100%;
    padding: 15px 56px;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    font-size: 1rem;
  }
  input[type=email]:hover,input[type=email]:focus,input[type=submit]:hover,input[type=submit]:focus{
    outline: none;
  }
  input[type=submit]{
    background-color:rgb(254, 182, 38);
    padding: 15px 60px;
    font-weight: normal;
    color:#000;
    font-size: 1rem;
    border: 0;
    border-radius: 3px;
    font-family: "Open Sans",sans-serif;
    margin-top: 30px;
  }
  input[type=submit]:hover{
    box-shadow: 0px 10px 28.5px 1.5px rgba(0, 0, 0, 0.2);
  }
  form>i{
    position: absolute;
    top:16px;
    left:20px;
  }
   div.recent-tweets{
    width: 30%;
    display: inline-block;
    float: right;
  }
  .twitter-post{
    margin: 30px 0px;
  }
  p.author{
    font-size: 0.85rem;
    font-weight: 600;
    color: #fff;
    margin: 0;
  }
  p.post{
    font-size: 1.0rem;
    font-weight: normal;
    color: rgba(255,255,255,0.8);
    margin: 0;
  }
  div.instagram-posts{
    width: 25%;
    display: inline-block;
    float: right;
    margin-left: 20px;
  }
  .instagram-posts.posts{

  }
  .posts div.i-post{
    display: block;
    width: 25%;
    margin: 2% 2%;
    overflow: hidden;
    display: inline-block;
  }
  .posts div.i-post a{
    display: flex;
    width: 70px;
    height:70px;
    border-radius: 14px;
    background-image: url(../assets/video-ph.png);
    background-position: center;
    background-size: cover;
    color: transparent;
  }

  h2.sm-title{
    font-weight: 500;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  h2.sm-title i.fa{
    margin-right: 10px;
  }
   section.quicklinks{
      background: url(../assets/quick-link.png);
      background-size: cover;
      background-position: center;
   }
   section.quicklinks div.contents{
      background: rgba(0,4,24,0.8);
      min-height: 450px;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px 150px;
   }
   .quicklinks .contents div.links{
      padding-top: 50px;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
   }
   .qlink{
      width: 154px;
      height: 154px;
      margin: 0px;
      color: transparent;
      text-align: center;
   }
   a.qlink-nav{
      position: absolute;
      font-size: 40px;
      color: #fff;
   }
   a.qlink-nav.right{
      right: 50px;
      margin-top: 230px;
   }
   a.qlink-nav.left{
      left: 50px;
      margin-top: 230px;
   }
   a.quick-link{
      background-color: transparent;
      min-height:150px;
      min-width:150px;
      max-width:150px;
      border-radius: 20%;
      border: 2px solid #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-decoration: none;
      font-size: 40px;
      margin-bottom: 20px;
   }
   a.quick-link span{
      position: absolute;
      padding-top: 250px;
      font-size: 20px;
      opacity: 0.5;
      color: #fff;
   }
   a.quick-link:hover span{
      opacity: 1;
      font-weight: 500;
   }
   a.quick-link:hover {
      background-color: rgba(255,255,255,0.9);
      border-color: rgba(255,255,255,0.9);
      color: #000;
   }
   a.quick-link i.fa{
      margin: 0px;
   }
   a.quick-link span.qlink-title{
      position: relative;
      margin-bottom: -50px;
   }
   section.fe-ln{
      padding: 0px 150px;
      display: flex;
      flex-direction: row;
      justify-content: center;
   }
   .featured-events{
      width: 45%;
      border: none;
      border-right:2px solid rgba(0,0,0,0.1);
      padding: 30px 50px 50px 0px;
   }
   .latest-news{
      width: 45%;
      padding: 30px 0px 50px 50px;
   }
   .slide{
      position: relative;
   }
   .f-event,.l-news{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 25px;
   }
   .f-event .date{
      height: 70px;
      min-width: 70px;
      max-width: 70px;
      border: 2px solid #094a7e;
      color: #094a7e;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      float: left;
   }
   p.month{
      margin:0px;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 1;
   }
   p._date{
      margin: 0px;
      font-size: 35px;
      text-transform: uppercase;
      line-height: 1;
   }
   .f-event .body,.l-news .body{padding-left: 20px;}
   .f-event .body h3.event-title,.l-news .body h3.event-title{
      margin: 0;
      font-size: 20px;
      font-weight: 500;
   }
   .f-event .body p.time-venue,.l-news .body p.time-venue{
      margin: 0;
      margin-top: 5px;
      font-size: 15px;
      font-weight: 500;
      color: rgba(0,0,0,0.5);
   }
   .l-news .thumbnail{
      height: 100px;
      min-width: 150px;
      background: #eceff1;
      background-size: cover;
      background-position: right;
   }
   .nav-wrapper{
      padding: 0px 150px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
   img.navbar-logo{
      height:40px;
      width: auto;
      float: left;
      position: absolute;
      z-index: 100;
      top:15px;
   }
   .connect-with-us{
      display: flex;
      align-items: center;
      font-weight: 500;
      color: #094a7e;
      font-style: italic;
   }
   ul.social-links{
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      padding-left: 20px;
   }
   ul.social-links li{
      width: 60px;
   }
   ul li a.social-icon{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: solid 2px;
      text-decoration: none;
   }
   ul li a.social-icon:hover{
      border: solid 2px #094a7e;
      background: #094a7e;
      color: #fff;
   }
   ul li a.social-icon:hover i{
      color:#fff;
   }
   .container{
      padding: 20px 150px;
}
   section.about-school{
      border-bottom: 2px solid rgba(0,0,0,0.1);
      padding-bottom: 50px;
   }
   .about-school-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
   }
   .about-school-container div.text{
      display: block;
      width: 55%;
      padding-right: 10px;
   }
   .about-school-container div.text p{
      font-size: 16px;
      font-family: "Open Sans";
      line-height: 2.00;
      font-weight: 400;
      text-align: justify;
      padding-bottom: 30px;

   }
   .about-school-container div.video{
      width: 40%;
   }
   .about-school-container div.video video,.about-school-container div.video iframe{
      width: 100%;
      display: block;
      height:250px;
      background-image: url(../assets/video-ph.png);
      background-size: cover;
      background-position: center;
      box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.2);
   }
   h2.section-title{
      text-transform: uppercase;
      color: #094a7e;
      font-weight: 800;
      font-size: 40px;
      width: 100%;
      border-bottom: 2px solid rgba(0,0,0,0.05);
      padding-bottom: 10px;
   }
   h2.section-title i{
      margin-right: 20px;
   }
   h2.section-title.lvl-2{
      font-size: 30px;
      text-transform: none;
   }
   h2.section-title span.divider{
      border-bottom: 2px solid #094a7e;
      margin-top: 57px;
   }
   h2.section-title span.text{
      font-weight: normal;
      color: #000;
   }
   h2.section-title span.divider{
      float: right;
      width: 100px;
      border-bottom: 2px solid #094a7e;
      position: relative;
      bottom: 0px;
   }
   section.cover{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 90vh;
      background: url(../assets/cover.jpeg);
      background-size: cover;
   }
   .progress{
      top:0;
      height: 90vh;
      width: 100%;
      display: none;
      flex-direction: column;
      background: url(../assets/progress_back.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      justify-content: center;
      align-items: flex-start;
   }

   .progress .circular-progress{
      height: 150px;
      min-width: 150px;
      border-radius: 50%;
      margin-bottom: 20px;
      border: 5px solid rgb(254, 182, 38);
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .progress .circular-progress p{
      color: #fff;
      font-size: 40px;
      font-weight: bold;
   }
   .progress a.btn-large{
      padding: 12px 40px;
      font-size: 15px;
   }
   .progress .progress-msg{
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      font-size: 15px;
   }
   .subscribe{
      height: 100px;
      display: flex;
      background: #3b4b64;
      padding: 0px 150px;
      align-items: center;
      justify-content: space-between;
      position: relative;
      bottom: 0px;
   }
   .subscribe p{
      font-weight:bold;
      color:#fff;
      font-style:italic;
      font-size:30px
   }
   a.btn{
      border-radius: 3px;
      background-color: rgb(254, 182, 38);
      text-transform: uppercase;
      font-weight: bold;
      color:#000;
      font-size: 20px;
      text-decoration: none;
   }

   a.btn-large{
     border-radius: 3px;
     background-color: rgb(254, 182, 38);
     padding: 12px 60px;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
     font-weight: bold;
     color:#000;
     font-size: 20px;
     text-decoration: none;
   }
}
.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #00bcd4;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
