@media only screen and (min-width:720px) and (max-width:1024px) {
nav{
height: 54px;
width: 100%;
background: #fff;
display: flex;
align-items: center;
position: relative;
z-index: 9999;
}
.cover{
   height:70vh;
   background: url(../assets/cover.jpeg);
   background-size:cover;
   background-position:center;
   display:flex;
   flex-direction:column;
   justify-content:space-between;
}
.nav-wrapper{
   padding: 0px 60px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
img.navbar-logo{
   height:30px;
   width: auto;
   float: left;
}
.connect-with-us{
   display: flex;
   align-items: center;
   font-weight: 500;
   color: #094a7e;
   font-style: italic;
}
.connect-with-us-text{
   font-weight: 500;
   color: #094a7e;
   font-style: italic;
   font-size: 14px;
}
ul.social-links{
   list-style: none;
   display: flex;
   flex-direction: row;
   padding: 0;
   padding-left: 15px;
}
ul.social-links li{
   width: 40px;
}
ul li a.social-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   border: solid 2px;
   text-decoration: none;
   font-size: 10px;
}
ul li a.social-icon:hover{
   border: solid 2px #094a7e;
   background: #094a7e;
   color: #fff;
}
ul li a.social-icon:hover i{
   color:#fff;
}
/*********Progress************************/
.progress{
   display:flex;
   background: rgba(0,72,128,0.8);
   top:50px;
   height: 250px;
   width:30%;
   margin:0px 60px;
   flex-direction: column-reverse;
   position: absolute;
   justify-content: center;
   align-items: center;
   overflow:hidden;
   border-radius:5px;
   border:3px solid white;
   margin-bottom:0;
}

.progress .circular-progress{
   height: 120px;
   min-width: 120px;
   border-radius: 50%;
   margin: 10px 0px 60px 0px;
   border: 3px solid rgb(254, 182, 38);
   display: flex;
   align-items: center;
   justify-content: center;
}

.progress .circular-progress p{
   color: #fff;
   font-size: 20px;
   font-weight: bold;
}
.progress a.btn-large{
   padding: 15px 1000px;
   font-size: 10px;
   position:absolute;
   bottom:0;
}
.progress .progress-msg{
   text-transform: uppercase;
   color: #fff;
   font-weight: bold;
   font-size: 12px;
}

.subscribe{
   height: 70px;
   display: flex;
   flex-direction:row;
   background: #3b4b64;
   align-items: center;
   justify-content: space-between;;
   position: relative;
   bottom: 0px;
   padding: 0px 60px;
}
.subscribe p{
   font-weight:bold;
   color:#fff;
   font-style:italic;
   font-size:15px
}
/*********About School Container**********/
   .container{
      padding: 20px 40px;
   }
   section.about-school{
      padding-bottom: 50px;
   }
   .about-school-container{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;
   }
   .about-school-container div.text{
      display: block;
      width: 100%;
      text-align: center;
   }
   .about-school-container div.text p{
      line-height: 2;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      padding-bottom: 20px;
      margin-top: 60px;
   }

   h2.section-title span.divider{
      display: none;
   }

   .about-school-container div.video{
      width: 100%;
      display: flex;
      justify-content: center;
   }

   .about-school-container div.video video,.about-school-container div.video iframe{
      width: 75%;
      min-height: 300px;
      max-height: auto;
      box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.2);
      background-image: url(../assets/video-ph.png);
      background-size: cover;
      background-position: center;
   }

   h2.section-title{
      text-transform: uppercase;
      color: #094a7e;
      font-weight: 800;
      font-size: 30px;
      width: 100%;
      text-align: center;
   }
   h2.section-title i{
      margin-right: 20px;
   }
   h2.section-title span.text{
      font-weight: normal;
      color: #000;
   }

   a.btn{
      border-radius: 5px;
      background-color: rgb(254, 182, 38);
      text-transform: uppercase;
      font-weight: bold;
      color:#000;
      font-size: 20px;
      text-decoration: none;
   }

   a.btn-large{
     border-radius: 2px;
     background-color: rgb(254, 182, 38);
     padding: 10px 50px;
     white-space: nowrap;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
     font-weight: bold;
     color:#000;
     font-size: 13px;
     text-decoration: none;
   }

   section.fe-ln{
      background:#f8f8f8;
      padding: 20px 40px;
   }
   section.latest-news{
      margin-top:40px;
   }
   .f-event,.l-news{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px;
      background:#fff;
      border: 1px solid rgba(0,0,0,0.2);
      margin-bottom:15px;
      border-radius:4px;
   }
   .f-event .date{
      height: 30px;
      min-width: 30px;
      max-width: 30px;
      border: 1px solid #094a7e;
      color: #094a7e;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      float: left;
      position:absolute;
   }
   p.month{
      margin:0px;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
   }
   p._date{
      margin: 0px;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
   }
   .body {
      position:relative;
   }
   .f-event .body p.time-venue,.l-news .body p.time-venue{
      font-size: 15px;
      font-weight: 500;
      color: rgba(0,0,0,0.5);
   }
   h3.event-title{
      margin:0;
   }
   h3.event-title.event{
      margin:0;
      margin-left:42px;
   }
   p.description{
      margin-bottom:0px;
   }
   section.quicklinks{
      display:none;
   }
}
